.jumbotron {
	margin-top: -150px;
	height: 350px;
	background: #eeeeee;
	color: #000000;
}

.jumbotron img {
	padding-top: 60px;
}

.navbar-inverse {
	border-bottom: #ffffff 1px solid;
}

body {
	padding-top: 150px;
}

footer {
	width: 100%;
	margin-top: 15px;
	background: #cccccc;
	text-align: center;
	margin: 100px 0 0;
	padding: 10px 0;
}

footer p {
	padding: 0;
	margin: 0;
}

canvas {
	padding: 20px 0;
}

#features .fa-lg {
	font-size: 72px;
}

#features #feature1 {
	color: #d66761;
}
#features #feature2 {
	color: #a87db6;
}
#features #feature3 {
	color: #6cac5b;
}