.jumbotron {
	margin-top: -80px;
	height: 350px;
	background: #eeeeee;
	color: #000000;
}

.jumbotron img {
	padding-top: 60px;
}

.navbar-inverse {
	border-bottom: #ffffff 1px solid;
}

body {
	padding-top: 60px;
}

footer {
	width: 100%;
	margin-top: 15px;
	background: #cccccc;
	text-align: center;
	margin: 100px 0 0;
	padding: 10px 0;
}

footer p {
	padding: 0;
	margin: 0;
}

#features .fa-lg {
	font-size: 100px;
}

#features #feature1 {
	color: #d66761;
}
#features #feature2 {
	color: #a87db6;
}
#features #feature3 {
	color: #6cac5b;
}

.panel-heading h4 a {
	color: #ffffff;
}

.panel-jl .panel-heading {
	background: #d66761;
}

.panel-py .panel-heading {
	background: #a87db6;
}

.panel-m .panel-heading {
	background: #6cac5b;
}