<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">qojulia.org</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/cite">Cite</a>
                </li>
                <li>
                    <a href="/benchmarks">Benchmarks</a>
                </li>
            </ul>
             <a class="btn btn-default navbar-btn" href="https://github.com/qojulia/QuantumOptics.jl" target="_blank"><i class="fa fa-github"> Github</i></a>
             <a class="btn btn-primary navbar-btn" href="https://docs.qojulia.org" target="_blank"><i class="fa fa-paper-plane"> Documentation</i></a>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>