a, a:hover, a:focus {
	color: #6b85dd;
}

.jumbotron {
	margin-top: -80px;
	height: 350px;
	background: #eeeeee;
	color: #000000;
}

.jumbotron img {
	padding-top: 60px;
}

.navbar {
	margin-bottom: 100px;
}

.navbar-inverse {
	border-bottom: #ffffff 1px solid;
}

body {
	padding-top: 60px;
}

.toc h1 {
	margin-top: 85px;
}



footer.footer {
	width: 100%;
	background: #cccccc;
	text-align: center;
	margin: 100px 0 0;
	padding: 10px 0 10px 0;
}

footer.documentation {
	padding: 10px 0 10px 20em;
	position: fixed;
	bottom: 0;
	z-index: -1;
}

footer#globalfooter p {
	padding: 0;
	margin: 0;
}

#features .fa-lg {
	font-size: 80px;
}

#features #feature1 {
	color: #d66761;
}
#features #feature2 {
	color: #a87db6;
}
#features #feature3 {
	color: #6cac5b;
}

.panel-heading h4 a {
	color: #ffffff;
}

.panel-jl .panel-heading {
	background: #d66761;
}

.panel-py .panel-heading {
	background: #a87db6;
}

.panel-m .panel-heading {
	background: #6cac5b;
}

.tab-code-example pre {
	margin-top: 10px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover {
	background: #6b85dd;
}

/* Additions to documenter.css */
nav.toc form {
	background: #6b85dd;
	padding-top: 15px;
	padding-bottom: 15px;
}

nav.toc form select {
	display: none;
} 